<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/listar**" access="permitAll" />
		<intercept-url pattern="/crear**" access="hasRole('ADMIN')" />
		<intercept-url pattern="/eliminar**/**" access="hasRole('ADMIN')" />
		<intercept-url pattern="/editar**/**" access="hasAnyRole('ADMINISTRATIVO','PROFESIONAL','ADMIN')"/>
		
		<form-login 
		login-page="/login"
		authentication-failure-url="/error"
		       username-parameter="username"
		       password-parameter="password"
		/>
		<csrf disabled="true"/>
		<logout logout-success-url="/login" />	

	</http>

	<authentication-manager>
		<authentication-provider>
		<user-service>
			<user name="admin" password="1234" authorities="ROLE_ADMIN" />
			<user name="profesional" password="5678" authorities="ROLE_PROFESIONAL" />
			<user name="administrativo" password="5678" authorities="ROLE_ADMINISTRATIVO" />
			
		</user-service>
		</authentication-provider>
	</authentication-manager>
</bean:beans>
